.venv*/
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.env
.env.*
!.env.example
*.netrc
_netrc
.polytopeapirc
data/*
!data/README.md
outputs/*
!outputs/README.md
.pytest_cache/
*.zip
*.log
*.egg-info/
build/
dist/
